@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  font-family: "Inter", system-ui, "Avenir", Helvetica, Arial, sans-serif;
}
.abril-fatface {
  font-family: "Abril Fatface", cursive;
}
